@tailwind base;
@tailwind components;
@tailwind utilities;

html,#root { height: 100%; }

body {
    font-family: var(--font-jost), sans-serif;

    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /*background-color: #F6F1F0;*/
    color: #260000;
}

main_page {
    background-image: '../public/images/main_page_bg.png';
    color:#260000;
}